body{
	margin-top: 100px;
}
/*=============================================================================================================== */

.navbar_asside {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	max-width: 20%;
	min-width: 20%;
	height: 100%;
	/*margin: 30px 15px 0 0;*/
	text-align: left;
	background-color: rgba(100%, 100%, 100%, 0.9);
	border: 1px solid rgb(114, 140, 165, .5);
	border-radius: 0px;
}

.navbar_asside_header {
	min-width: 50px;
	/*float: left;*/
	padding-right: 30px;
}

.navbar_asside_logo {
	padding-top: 0px;
	padding-left: 5px;
}

.navbar_asside_logo img{
	padding-top: 8px;
	padding-left: 5px;
	width: 50px;
}

.navbar_asside_nav > ul {

}

.navbar_asside_nav > li {
	/*position: relative;*/
	/*float: left;*/
	list-style: none;
}

.navbar_asside_nav > li > a {
  	line-height: 40px;
	padding: 10px 10px 10px 10px;
	transition: font-size 0.5s;
	display: block;
}

.navbar_asside_nav > li > a:hover, .navbar_asside_nav > li > a:focus {
	background-color:  #ec7063;
}

/*=============================================================================================================== */

.navbarfixed {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin: 0 auto;
	border-radius: 0px;
	text-align: center;
	background: #fff;
	-webkit-box-shadow: 12px 10px 5px -1px rgba(15, 85, 134,1);
	-moz-box-shadow: 12px 10px 5px -1px rgba(15, 85, 134,1);
	box-shadow: 12px 10px 5px -1px rgba(15, 85, 134,1);
	/*transition: margin-top 0.5s ease-out;*/
}

.navbarfixed::before {
	margin-top: 50px;
}


/*=============================================================================================================== */
/*========================================================================================== APPLI */
/*=============================================================================================================== */
.app_container{
	width: 90%;
	margin: 20px auto;
	max-width: 1200px;
}

.app_blok {
	padding: 10px;
	margin: 15px 15px 0 0;
	border:1px solid #e1e2e3;
	border-radius: 3px;
	/*background: #f5f5f5;*/
	/*background: transparent;*/
	background-color: rgba(100%, 100%, 100%, 0.9);
}

.app_blok_scroll {
	padding: 10px;
	margin: 15px 15px 0 0;
	border:1px solid #e1e2e3;
	border-radius: 3px;
	background: #f5f5f5;
	background-color: rgba(100%, 100%, 100%, 0.9);
	height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
}

/*=============================================================================================================== */
.app_asside_page{
	width: 80%;
	/*height: 100vh;*/
	/*min-height: 100vh;*/
	/*max-height: 100vh;*/
	margin: 0 0 0 20%;
	/*overflow-x: hidden;*/
	/*overflow-y: scroll;*/
	/*max-width: 1200px;*/
}
.app_asside_container{
	width: 100%;
	margin: 0 0 0 0;
	/*max-width: 1200px;*/
}

.app_asside_blok {
	padding: 10px;
	margin: 0px 0px 0 0;
	border:1px solid #e1e2e3;
	border-radius: 3px;
	/*background: #f5f5f5;*/
	/*background: transparent;*/
	background-color: rgba(100%, 100%, 100%, 0.9);
}

.app_asside_blok_scroll {
	padding: 10px;
	margin: 15px 0 0 0;
	border:1px solid #e1e2e3;
	border-radius: 3px;
	background: #f5f5f5;
	background-color: rgba(100%, 100%, 100%, 0.9);
	height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.divtable{
	/*display: inline-block;*/
	cursor: pointer;
}

.divchamp:hover{
	background: #e3eefe;
}

.divchamp{
	display: inline-block;
	float: left;
	cursor: pointer;
}

.app_btn{
	width: 100%;
	font-size: 1.1em;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
	  	/*text-shadow: 2px 2px 3px #000;*/
	line-height: 30px;
	text-align: center;
	padding: 10px 5px 10px 10px;
	/*margin: 5px 0px 5px 0px;*/
	cursor: pointer;
	float: left;
	/*background:  #bdc3c7 ;*/
	border:1px solid #e1e2e3;
	border-radius: 5px;
/*	-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);*/
}

.sec_center{
	position: absolute;
	left: 35%;
	top: 25%;
	width: 25%;
	margin: 0;
	padding: 0;
}

.sec_center_large{
	position: absolute;
	left: 20%;
	top: 10%;
	width: 60%;
	margin: 0;
	padding: 0;
}

.sec_fixed_hg{
	position: fixed;
	left: 20px;
	top: 20px;
	width: 85%;
	max-width: 200px;
	margin: 0;
	padding: 0;
}

/*=============================================================================================================== */
/*========================================================================================== FORMULAIRES */
/*=============================================================================================================== */


form{

}

label, input, select, textarea{
  display: inline-block;
  line-height: 30px;
  float: left;
}

label.check{
  display: inline;
}

input, datalist, select, textarea{
  font-size: 1.1em;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}

input:disabled { background: #fff; }
input:disabled:hover { color: green; }

option { font-size: 14px; }

.form_btn{
	text-align: center;
}

table {
  max-width: 1000px;
  /*margin: 0 auto;*/
}

tr {
  /* background: #89297C; */
  /*border: 1px solid #000;*/
  padding: 5px;
}

th {
  /*border-bottom: 2px solid rgba(65, 131, 178, 1);;*/
  padding:10px 20px 10px 0;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Acme';
  color: #000;
  text-align: left;
}

td {
  /*border: 1px solid white;*/
  font-size: 14px;
  /*font-family: 'Acme';*/
  padding:20px 20px 20px 0;
  border-top: 1px solid rgba(65, 131, 178, 1);
  vertical-align: middle;
}

td img{height: 50px;}


button,
html input[type="button"],
input[type="reset"],
input[type="text"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  display: block;
}

/*=============================================================================================================== */
/*========================================================================================== GRAPHIQUE */
/*=============================================================================================================== */

canvas{
	border:1px solid;
	/*margin:0px;*/
	/*padding:0px;*/
}

/*=============================================================================================================== */
/*========================================================================================== MEDIA */
/*=============================================================================================================== */

#media iframe{
	width: 100%
}

.blokfilm {
	padding: 20px;
	/*border:1px solid #e1e2e3;*/
	border-radius: 5px;
}

#ElList h1, #ElList h2, #ElList h3, #ElList h4, #ElList h5{
	font-family: 'folksbold';
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

#ElList h2 {padding-top: 15px;padding-bottom: 5px;}

#ElList h3 {font-size: 12px;padding-bottom: 10px;}

#ElList h4{font-size: 12px;padding-bottom: 10px;}

#ElList h5{font-size: 12px;	padding-bottom: 20px;}

.blokright {float: right;}

.blokimg {
	margin: 0;
	padding: 0;
	text-align: center;
	border-radius: 0px;
	border:1px solid #e1e2e3;
	background-color: #fff;
	min-height: 330px;
	max-height: 430px;
	overflow: hidden;
}

#media {
	text-align: center;
}

#media img{
	width: 100%;
	max-width: 580px;
	text-align: center;
	padding: 20px;
	border: 5px solid #fff;
	-webkit-box-shadow: 12px 10px 5px -1px rgba(204,204,204,0.8);
	-moz-box-shadow: 12px 10px 5px -1px rgba(204,204,204,0.8);
	box-shadow: 12px 10px 5px -1px rgba(204,204,204,0.8);
}

.img-responsive{
	width: 100%;
	/*max-width: 430px;*/
	display: inline-block;
	text-align: center;
}

section.sec0{

}

section.sec1 h1 {

}

section.sec2{

}

section.sec3 {

}

section.sec4 {

	width: 100%;

}

h4.formTitle {
	text-align: left;
	font-family: 'Acme', cursive;
	font-weight: bold;
}


/*=============================================================================================================== */
/*========================================================================================== CAROUSEL */
/*=============================================================================================================== */

.carousel {

}

.carousel-control.right, .carousel-control.left {
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)
}

.carousel-control .fa-hand-peace-o, .carousel-control .fa-hand-pointer-o,
.carousel-control .icon-next, .carousel-control .icon-prev {
	position: absolute;
	color: #000;
	top: 50%;
	z-index: 5;
	display: inline-block;
	margin-top: -30px;
}

.carousel-control .fa-hand-peace-o{
	position: absolute;
	left: 50px;
}

.carousel-control .fa-hand-pointer-o{
	position: absolute;
	right: 50px;
}

.carousel-caption{
	color: #000;
	bottom: 10px;
	font-size: 18px;
	text-align: bottom;
	padding-bottom: 5px;
	right: 20px;
	left: 0;
}

.carousel-indicators{
	width: 100%;
	left: 20%;
	bottom: -10px;
	text-align: right;
	display: none;
}

.carousel-indicators .active{
	background-color: #fff;
	border: 1px solid #000;
}

.carousel-indicators li {
	left: 30%;
	bottom: 0;
	background-color: #fff;
	border: 1px solid #000;
}
.carousel-inner img{
	margin: auto auto;
}

/*=============================================================================================================== */
/*========================================================================================== MISE EN FORME */
/*=============================================================================================================== */

.erreur{ background: #ff0000; color: white;}
.validation{ background: #5dade2; color: white; }
.transparence {background-color: rgba(100%, 100%, 100%, 0.5);}
.transparence:hover{background-color: rgba(100%, 100%, 100%, 0.8);}
.minheight{min-height: 430px;}

.no_margin{margin: 0 auto;}

/*=============================================================================================================== */
/*========================================================================================== UTILITIES */
/*=============================================================================================================== */

.clear{
	clear: both;
}

pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-family: tahoma;
	font-size: 12px;
	line-height: 1.42857143;
	color: #fff;
	word-break: break-all;
	word-wrap: break-word;
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 4px;
}

hr{
	background: #fff;
	border: 1px solid #fff;
	border-radius: 2px;
	clear: both;
	margin: 0 0 5px 0;
}

/*=============================================================================================================== */
/*========================================================================================== MEDIA QUERYS */
/*=============================================================================================================== */

/*========================================================================================== 1200*/
@media (max-width: 1200px)  {

	.sec_center{
		left: 35%;
		top: 20%;
		width: 30%;
	}

	.blokright {
		float: right;
		padding-left: 0px;
	}

}
/*========================================================================================== 992*/
@media (max-width: 992px)  {

	.sec_center{
		left: 30%;
		top: 15%;
		width: 35%;
	}

}

/*========================================================================================== 800*/
@media (max-width: 800px)  {
	.sec_center{
		left: 25%;
		top: 10%;
		width: 40%;
	}
}

/*========================================================================================== 768*/
@media (max-width: 768px)  {

	.sec_center{
		left: 20%;
		top: 10%;
		width: 60%;
	}

	.blokfix{
		display: none;
	}

	.navbar_nav > li > a {
		font-size: 0px;
	}

	.navbar_burger {
		display: block;
		float: right;
		margin: 20px 20px 20px 20px;
		position: relative;
	}

	.navbar_burger_nav {
		position: absolute;
		top: 20px;
		right: 1px;
		z-index: 1;
		text-align: right;
		background-color: rgba(100%, 100%, 100%, 0.8);
		padding: 0 20px;
		-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
	}

	.navbar_burger_nav > li {
	 	padding-top: 10px;
	  	padding-bottom: 10px;
	  	line-height: 40px;
	  	border-bottom: 1px solid;
	  	width: 100%;
	}

	.navbar_burger_nav > li:last-child {
	  	border-bottom: 0px solid;
	}

	.dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 160px;
		padding: 5px 0;
		margin: 2px 0 0;
		font-size: 14px;
		text-align: left;
		list-style: none;
		background-color: #fff;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: 4px;
		-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
	}

	.navbar_form {
		display: none;
	}

	.carousel-control .fa-hand-peace-o, .carousel-control .fa-hand-pointer-o, .carousel-control .icon-next, .carousel-control .icon-prev, .carousel-caption {
		display: none;
	}
	
}

